<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499727000436-cr8ii9mp7hdon8g5ovd4hab1fcrctcn4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499727000436-cr8ii9mp7hdon8g5ovd4hab1fcrctcn4</string>
	<key>API_KEY</key>
	<string>AIzaSyCCH6yRlD_Rt52WwHicCqyYxr0j7Q4NUZg</string>
	<key>GCM_SENDER_ID</key>
	<string>499727000436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBiometric</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebase-97dc8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebase-97dc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499727000436:ios:8b8765c8dcf6ced6100221</string>
</dict>
</plist>